@* <form method="post" enctype="multipart/form-data"> *@
@* form use garinam kina bhane list of saleDetails lai handle(index maintain) garna garho huncha so form use
nagareko *@
@* asp-for includes id, class.... *@

@model eKirana.ViewModels.SaleVms.SaleFormAddVm
<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header">
            <h4 class="card-title text-center text-success text-uppercase">Making Sale</h4>
        </div>
        <div class="card-body">
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="CustomerType" class="form-label">
                        Customer Type
                    </label>
                    <select class="form-control me-sm-2" asp-for="CustomerType"
                        asp-items="@Model.CustomerTypeSelectList()">
                        <option value="">-CUSTOMER TYPE-</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="CustomerName" class="form-label">Customer Name</label>
                    <input type="text" class="form-control" id="CustomerName" disabled>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="CustomerAddress" class="form-label">
                        Customer Address
                    </label>
                    <input type="text" class="form-control" id="CustomerAddress" disabled>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="SaleDate" class="form-label">Sale Date</label>
                    <input type="date" class="form-control" asp-for="SaleDate" required>
                </div>
            </div>
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <fieldset id="memberFieldSet" disabled>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="MemberShipId" class="form-label">
                            Member Name
                        </label>
                        <select class="form-control" asp-for="MemberShipId" asp-items="Model.MemberSelectList()">
                            <option value="">--SELECT A MEMBER--</option>
                        </select>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="MemberAddress" class="form-label">
                            Member Address
                        </label>
                        <input type="text" class="form-control" id="memberAddress" required>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="MemberPhone" class="form-label">
                            Phone number
                        </label>
                        <input type="text" class="form-control" id="memberPhone" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Last Transaction" class="form-label">
                            Last Transaction
                        </label>
                        <input type="text" class="form-control" id="lastTransaction" required>
                    </div>

                </div>
            </fieldset>
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <fieldset id="fieldSet" disabled>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="Product" class="form-label">Product</label>
                        <select class="form-control" asp-for="ProductId" asp-items="Model.ProductSelectList()">
                            <option value="">-- SELECT A PRODUCT --</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Quantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="f_quantity" required>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="Unit" class="form-label">Unit</label>
                        <select class="form-control" asp-for="UnitId">
                            @* <option value="">-- SELECT A UNIT --</option> *@
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Rate" class="form-label">Rate</label>
                        <input type="decimal" class="form-control" id="f_rate" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="SubTotal" class="form-label">Sub Total</label>
                        <input type="decimal" class="form-control" id="f_subTotal" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="VATAmount" class="form-label">VAT Amount</label>
                        <input type="decimal" class="form-control" id="f_vatAmt" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="Discount" class="form-label">Discount</label>
                        <input type="decimal" class="form-control" id="f_disAmt" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="NetAmount" class="form-label">Net Amount</label>
                        <input type="decimal" class="form-control" id="f_netAmt" required>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <button class="btn btn-success" id="Add" type="button">Add Sale</button>
                </div>
            </div>
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-sm border-1 table-striped">
                    <thead class="table-success text-center">
                        <tr>
                            <th scope="col" width="80px">SN</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Sub Total</th>
                            <th scope="col">VAT</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Net Amount</th>


                            <th scope="col" class="text-end"></th>
                        </tr>
                    </thead>
                    <tbody id="item_list">

                    </tbody>
                </table>
            </div>
            <div class="">
                <template id="item_row">
                    <tr class="table-light text-center">
                        <td>
                            <span class="i_sn"></span>
                        </td>
                        <td>
                            <span class="i_product"></span>
                            <span class="i_data_hub" data-product-id="" data-quantity="" data-unit-id="" data-rate=""
                                data-subTotal="" data-vat="" data-dis="" data-netAmt=""></span>
                        </td>
                        <td>
                            <span class="i_quantity"></span>
                        </td>
                        <td>
                            <span class="i_unit"></span>
                        </td>
                        <td>
                            <span class="i_rate"></span>
                        </td>
                        <td>
                            <span class="i_subTotal"></span>
                        </td>
                        <td>
                            <span class="i_vatAmt"></span>
                        </td>
                        <td>
                            <span class="i_disAmt"></span>
                        </td>
                        <td>
                            <span class="i_netAmt"></span>
                        </td>
                        <td>
                            <button class="btn btn-danger i_remove">
                                Remove
                            </button>
                        </td>

                    </tr>

                </template>

            </div>
        </div>


        <div class="card-footer">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success w-100" id="checkout">Check Out</button>
            </div>
        </div>
    </div>
</div>


<script>
    var sn = 0;
    const cusTypeElm = document.querySelector('#CustomerType');
    const cusNameElm = document.querySelector('#CustomerName');
    const cusAddressElm = document.querySelector('#CustomerAddress');
    const memberFieldSet = document.querySelector('#memberFieldSet');
    const memberShipIdElm = document.querySelector('#MemberShipId');
    const memberAddressElm = document.querySelector('#memberAddress');
    const memberPhoneElm = document.querySelector('#memberPhone');
    const memberLastTransactionElm = document.querySelector('#lastTransaction');
    const checkoutBtn = document.querySelector('#checkout');
    const addBtn = document.querySelector('#Add');
    const removeBtn = document.querySelector('#remove');

    const saleDateElm = document.querySelector('#SaleDate');
    const fieldSet = document.querySelector('#fieldSet');
    const itemListElm = document.querySelector('#item_list');
    const templateRowElm = document.querySelector('#item_row');

    const rowElms = {
        product: document.querySelector('#ProductId'),
        quantity: document.querySelector('#f_quantity'),
        unit: document.querySelector('#UnitId'),
        rate: document.querySelector('#f_rate'),
        subTotal: document.querySelector('#f_subTotal'),
        vatAmt: document.querySelector('#f_vatAmt'),
        disAmt: document.querySelector('#f_disAmt'),
        netAmt: document.querySelector('#f_netAmt')
    };

    //change event on select list
    //input event on input type
    //make separate function for each event as far as possible
    cusTypeElm.addEventListener('change', toggleMemberFieldSet);
    cusNameElm.addEventListener('input', toggleFieldSet);
    cusAddressElm.addEventListener('input', toggleFieldSet);
    memberShipIdElm.addEventListener('change', getMemberData);
    memberAddressElm.addEventListener('input', toggleFieldSet);
    rowElms.product.addEventListener('change', getUnitSelectList);
    rowElms.unit.addEventListener('change', getRateAmt);
    rowElms.rate.addEventListener('input', updateRowElmAmt);
    rowElms.quantity.addEventListener('input', updateRowElmAmt);

    function toggleMemberFieldSet() {
        const customerType = cusTypeElm.value; //it's value is also string 


        if (customerType == 'NormalCustomer') {
            cusNameElm.disabled = false;
            cusAddressElm.disabled = false;
            memberShipIdElm.value = '';
            memberAddressElm.value = null;
            memberPhoneElm.value = null;
            memberLastTransactionElm.value = null;
            memberFieldSet.disabled = true;

            cusNameElm.dispatchEvent(new Event('input'));
            cusAddressElm.dispatchEvent(new Event('input'));

        }

        if (customerType == 'MemberShipCustomer') {

            memberFieldSet.disabled = false;
            cusNameElm.value = null;
            cusAddressElm.value = null;
            cusNameElm.disabled = true;
            cusAddressElm.disabled = true;

            memberShipIdElm.dispatchEvent(new Event('change'));
            memberAddressElm.dispatchEvent(new Event('input'));

        }

    }

    function toggleFieldSet() {
        const cusName = cusNameElm.value;
        const cusAddress = cusAddressElm.value;
        const memberShipId = memberShipIdElm.value;
        const memberAddress = memberAddressElm.value;

        if ((cusName && cusAddress) || (memberShipId && memberAddress)) {
            fieldSet.disabled = false;

        }
        else {
            fieldSet.disabled = true;

        }
    }

    function getMemberData() {
        const memberShipId = memberShipIdElm.value;
        console.log(memberShipId);

        if (memberShipId != null) {
            fetch('/MemberShip/GetMemberShipDetails?MemberShipId=' + memberShipId)
                .then(res => res.json())
                .then(data => {
                    memberShipId.value = data.memberName;
                    memberAddressElm.value = data.memberAddress;
                    memberPhoneElm.value = data.memberPhone;
                    memberLastTransactionElm.value = data.memberLastTransaction;

                    memberAddressElm.dispatchEvent(new Event('input'));
                });
        }
    }

    function getUnitSelectList() {
        const productId = rowElms.product.value;
        console.log(productId);

        if (productId) {
            cusNameElm.readOnly = true;
            cusAddressElm.readOnly = true; //or readonly
            memberFieldSet.disabled = true;
            cusTypeElm.disabled = true;
            saleDateElm.disabled = true;
        }

        fetch("/ProductQuantityUnitRate/GetUnitSelectList?ProductId=" + productId)
            .then(res => res.json())
            .then(data => {
                //clear previous select list item
                rowElms.unit.innerHTML = '';
                // while(selectElm.HasChildren) => selectElm.children[0].remove();

                const emptyOption = document.createElement("option");
                emptyOption.value = ""; // Set the value of the empty option
                emptyOption.text = "- SELECT A UNIT -"; // Text to display for the empty option
                rowElms.unit.appendChild(emptyOption);
                for (var item of data.prdQURs) {
                    const option = new Option(item.unit.name, item.unit.id);
                    rowElms.unit.appendChild(option);
                    rowElms.unit.dispatchEvent(new Event('change'));
                }
            });
    }

    function getRateAmt() {
        const productId = rowElms.product.value;
        const unitId = rowElms.unit.value;

        if (!unitId) { //not neceessary for now
            rowElms.rate.value = 0;
            return;
        }

        //fetch(`/Sale/GetProductSaleRate?ProductId=${productId}&UnitId=${unitId}`)
        fetch("/Sale/GetProductSaleRate?ProductId=" + productId + "&UnitId=" + unitId)
            .then(res => res.json())
            .then(data => {
                rowElms.rate.value = data.saleRate;
                rowElms.rate.dispatchEvent(new Event('input'));
            });
    }

    function updateRowElmAmt() {
        const currentRateInput = +rowElms.rate.value.trim();

        rowElms.subTotal.value = +rowElms.quantity.value * currentRateInput;
        rowElms.vatAmt.value = +rowElms.subTotal.value * 0.13;
        rowElms.disAmt.value = +rowElms.subTotal.value * 0.10;
        rowElms.netAmt.value = +rowElms.subTotal.value + +rowElms.vatAmt.value - +rowElms.disAmt.value;
    }

    addBtn.addEventListener('click', e => {
        e.preventDefault();
        try {
            sn = sn + 1;
            const productId = rowElms.product.value;
            if (!productId) throw "No Product Selected.";
            const quantity = +rowElms.quantity.value;
            if (!quantity) throw "Input Quantity.";
            const unitId = rowElms.unit.value;
            if (!unitId) throw "No Unit Selected.";
            const rate = +rowElms.rate.value;
            const subTotal = +rowElms.subTotal.value;
            const vatAmt = +rowElms.vatAmt.value;
            const disAmt = +rowElms.disAmt.value;
            const netAmt = +rowElms.netAmt.value;

            console.log(sn);
            //getting selected names
            const productName = rowElms.product.options[rowElms.product.selectedIndex].textContent;
            const unitName = rowElms.unit.options[rowElms.unit.selectedIndex].textContent;
            console.log(productName);



            //cloning data 
            const cloned = templateRowElm.content.cloneNode(true);
            cloned.querySelector(".i_sn").textContent = sn;
            cloned.querySelector(".i_product").textContent = productName;
            cloned.querySelector(".i_quantity").textContent = quantity;
            cloned.querySelector(".i_unit").textContent = unitName;
            cloned.querySelector(".i_rate").textContent = rate;
            cloned.querySelector(".i_subTotal").textContent = subTotal;
            cloned.querySelector(".i_disAmt").textContent = disAmt;
            cloned.querySelector(".i_vatAmt").textContent = vatAmt;
            cloned.querySelector(".i_netAmt").textContent = netAmt;

            //for marking i_data_hub and storing entire data of row in dataset
            const dataHubElm = cloned.querySelector('.i_data_hub');
            dataHubElm.dataset.productId = productId;
            dataHubElm.dataset.quantity = quantity;
            dataHubElm.dataset.unitId = unitId;
            dataHubElm.dataset.rate = rate;
            dataHubElm.dataset.subTotal = subTotal;
            dataHubElm.dataset.vat = vatAmt;
            dataHubElm.dataset.dis = disAmt;
            dataHubElm.dataset.netAmt = netAmt;

            //appending those cloned data on list
            itemListElm.appendChild(cloned);

            //resetting value
            rowElms.product.value = '';
            rowElms.quantity.value = 0;
            rowElms.unit.value = '';
            rowElms.rate.value = 0;
            rowElms.subTotal.value = 0;
            rowElms.vatAmt.value = 0;
            rowElms.disAmt.value = 0;
            rowElms.netAmt.value = 0;
        }
        catch (e) {
            alert(e);
        }
    });

    checkoutBtn.addEventListener('click', e => {
        const ack = confirm('Are you sure you want to submit?');
        if (!ack) return;

        const data = [];
        const dataHubElms = document.querySelectorAll('.i_data_hub');

        for (const elm of dataHubElms) {
            data.push({
                ProductId: elm.dataset.productId,
                Quantity: elm.dataset.quantity,
                UnitId: elm.dataset.unitId,
                Rate: elm.dataset.rate,
                SubTotal: elm.dataset.subTotal,
                VATAmt: elm.dataset.vat,
                DisAmt: elm.dataset.dis,
                NetAmt: elm.dataset.netAmt
            });
        }

        const sendData = {
            CustomerType: cusTypeElm.value,
            CustomerName: cusNameElm.value,
            CustomerAddress: cusAddressElm.value,
            MemberShipId: memberShipIdElm.value != "" ? memberShipIdElm.value : null,
            SaleDate: saleDateElm.value,
            SaleItemVms: data
        };

        fetch('/Sale/Add', {
            method: 'POST',
            body: JSON.stringify(sendData),
            headers: {
                'Content-Type': 'application/json'
                //add other headers
            }
        }).then(res => {
            if (!res.ok) {
                throw new Error("Network response was not ok.");
            }
            return res.json();
        }).then(x => {
            console.log('Server response', x);
            if (x.success) {
                window.location.reload();
            }
            else {
                alert("Error recording sale.");
            }
        });
    });


</script>