@* <form method="post" enctype="multipart/form-data"> *@
@* form use garinam kina bhane list of purchaseDetails lai handle(index maintain) garna garho huncha so form use
nagareko *@
@* asp-for includes id, class.... *@

@model eKirana.ViewModels.PurchaseVms.PurchaseFormAddVm
<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header">
            <h4 class="card-title text-center text-success text-uppercase">Making Purchase</h4>
        </div>
        <div class="card-body">
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="Supplier" class="form-label">Supplier</label>
                    <select class="form-control" asp-for="SupplierId" asp-items="Model.SupplierSelectList()"
                        id="SupplierId">
                        <option value="">-- SELECT A SUPPLIER --</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="PurchaseDate" class="form-label">Purchase Date</label>
                    <input type="date" class="form-control" asp-for="PurchaseDate" id="PurchaseDate" required>
                </div>
            </div>
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="Product" class="form-label">Product</label>
                    <select class="form-control" asp-for="ProductId" asp-items="Model.ProductSelectList()">
                        <option value="">-- SELECT A PRODUCT --</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Quantity" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="f_quantity" required>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="Unit" class="form-label">Unit</label>
                    <select class="form-control" asp-for="UnitId" asp-items="Model.UnitSelectList()">
                        <option value="">-- SELECT A UNIT --</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Rate" class="form-label">Rate</label>
                    <input type="decimal" class="form-control" id="f_rate" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="SubTotal" class="form-label">Sub Total</label>
                    <input type="decimal" class="form-control" id="f_subTotal" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="VATAmount" class="form-label">VAT Amount</label>
                    <input type="decimal" class="form-control" id="f_VATAmt" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="Discount" class="form-label">Discount</label>
                    <input type="decimal" class="form-control" id="f_discount" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="NetAmount" class="form-label">Net Amount</label>
                    <input type="decimal" class="form-control" id="f_netAmt" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <button class="btn btn-success" id="Add" type="button">Add Product</button>
                </div>
            </div>
            <div style="border-top: 4px solid;" class="mb-2 border-success">
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-sm border-1 table-striped">
                    <thead class="table-success">
                        <tr>
                            <th scope="col" width="80px">SN</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Sub Total</th>
                            <th scope="col">VAT</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Net Amount</th>


                            <th scope="col" class="text-end"></th>
                        </tr>
                    </thead>
                    <tbody id="item_list">

                    </tbody>
                </table>
            </div>
            <div class="">
                <template id="item_row">
                    <tr class="table-light text-center">
                        <td>
                            <span class="i_sn"></span>
                        </td>
                        <td>
                            <span class="i_name"></span>
                            <span class="i_data_hub" data-product-id="" data-quantity="" data-unit-id="" data-rate=""
                                data-subTotal="" data-VAT="" data-dis="" data-netAmt=""></span>
                        </td>
                        <td>
                            <span class="i_quantity"></span>
                        </td>
                        <td>
                            <span class="i_unit"></span>
                        </td>
                        <td>
                            <span class="i_rate"></span>
                        </td>
                        <td>
                            <span class="i_subTotal"></span>
                        </td>
                        <td>
                            <span class="i_VAT"></span>
                        </td>
                        <td>
                            <span class="i_dis"></span>
                        </td>
                        <td>
                            <span class="i_netAmt"></span>
                        </td>
                        <td>
                            <button class="btn btn-danger " id="remove">
                                Remove
                            </button>
                        </td>

                    </tr>

                </template>

            </div>
        </div>


        <div class="card-footer">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success w-100" id="checkout">Check Out</button>
            </div>
        </div>
    </div>
</div>

<script>
    var sn = 0;

    //marking or mapping section
    const addBtn = document.querySelector('#Add');
    const templateRowElm = document.querySelector('#item_row');
    const itemListElm = document.querySelector('#item_list');
    const removeBtn = document.querySelector('#remove');
    const checkoutBtn = document.querySelector('#checkout');

    const supplierElm = document.querySelector('#SupplierId');
    const purchaseDateElm = document.querySelector('#PurchaseDate');
    //--adding row(inputed data) to the list
    const rowElms = {
        product: document.querySelector('#ProductId'),
        quantity: document.querySelector('#f_quantity'),
        unit: document.querySelector('#UnitId'),
        rate: document.querySelector('#f_rate'),
        subTotal: document.querySelector('#f_subTotal'),
        vatAmt: document.querySelector('#f_VATAmt'),
        discount: document.querySelector('#f_discount'),
        netAmt: document.querySelector('#f_netAmt'),
    };


    rowElms.product.addEventListener('change', getRateAmt);
    rowElms.unit.addEventListener('change', getRateAmt);

    function getRateAmt() {
        const productId = rowElms.product.value;
        const unitId = rowElms.unit.value;
        if (!productId || !unitId) {
            rowElms.rate.value = 0;
            return;
        }

        fetch("/Purchase/GetProductRate?ProductId=" + productId + "&UnitId=" + unitId).then(res => res.json())
            .then(data => {
                console.log(data);
                rowElms.rate.value = data.purchaseRate;
            });
    };


    rowElms.quantity.addEventListener('input', updateRowElmAmt);
    rowElms.rate.addEventListener('input', updateRowElmAmt);

    function updateRowElmAmt() {
        rowElms.subTotal.value = +rowElms.quantity.value * +rowElms.rate.value;
        rowElms.vatAmt.value = +rowElms.subTotal.value * 0.13;
        rowElms.discount.value = 0.1 * +rowElms.subTotal.value;
        rowElms.netAmt.value = +rowElms.subTotal.value + +rowElms.vatAmt.value - +rowElms.discount.value;

    }


    addBtn.addEventListener('click', e => {
        e.preventDefault();
        try {
            sn = sn + 1;
            //getting value
            const productId = rowElms.product.value;
            if (!productId) throw "Product Not Selected.";
            const quantity = +rowElms.quantity.value;
            if (quantity <= 0) throw "Quantity must be positive.";
            const unitId = rowElms.unit.value;
            if (!unitId) throw "Unit Not Selected.";
            const rate = +rowElms.rate.value;
            const subTotal = +rowElms.subTotal.value;
            const vatAmt = +rowElms.vatAmt.value;
            const disAmt = +rowElms.discount.value;
            const netAmt = +rowElms.netAmt.value;

            //getting selected names
            const productName = rowElms.product.options[rowElms.product.selectedIndex].textContent;
            const unitName = rowElms.unit.options[rowElms.unit.selectedIndex].textContent;

            //for cloning row 
            const cloned = templateRowElm.content.cloneNode(true);
            cloned.querySelector(".i_sn").textContent = sn;
            cloned.querySelector(".i_name").textContent = productName;
            cloned.querySelector(".i_quantity").textContent = quantity;
            cloned.querySelector(".i_unit").textContent = unitName;
            cloned.querySelector(".i_rate").textContent = rate;
            cloned.querySelector(".i_subTotal").textContent = subTotal;
            cloned.querySelector(".i_dis").textContent = disAmt;
            cloned.querySelector(".i_VAT").textContent = vatAmt;
            cloned.querySelector(".i_netAmt").textContent = netAmt;

            //for marking i_data_hub and storing entire data of row in dataset
            const dataHubElm = cloned.querySelector('.i_data_hub');
            dataHubElm.dataset.productId = productId;
            dataHubElm.dataset.quantity = quantity;
            dataHubElm.dataset.unitId = unitId;
            dataHubElm.dataset.subTotal = subTotal;
            dataHubElm.dataset.vatAmt = vatAmt;
            dataHubElm.dataset.disAmt = disAmt;
            dataHubElm.dataset.netAmt = netAmt;

            itemListElm.appendChild(cloned);

            rowElms.product.value = '';
            rowElms.quantity.value = 0;
            rowElms.unit.value = '';
            rowElms.rate.value = 0;
            rowElms.subTotal.value = 0;
            rowElms.vatAmt.value = 0;
            rowElms.discount.value = 0;
            rowElms.netAmt.value = 0;
        }

        catch (e) {
            alert(e);
        }

    });

    checkoutBtn.addEventListener('click', e => {
        const userAck = confirm('Are you sure You want to submit?');
        if (!userAck) return;

        const data = [];

        const dataHubElms = document.querySelectorAll('.i_data_hub');

        for (const elm of dataHubElms) {
            data.push({
                ProductId: elm.dataset.productId,
                Quantity: elm.dataset.quantity,
                UnitId: elm.dataset.unitId,
                Rate: elm.dataset.rate,
                SubTotal: elm.dataset.subTotal,
                VATAmount: elm.dataset.vatAmt,
                Discount: elm.dataset.disAmt,
                NetAmount: elm.dataset.netAmt
            });
        }

        //reuestData ko structure action ko vm sanga milnu parcha mathyko vm sanga namilda ni huncha
        const requestData = {
            SupplierId: supplierElm.value,
            PurchaseDate: purchaseDateElm.value,
            PurchaseItems: data
        };
        //console.log(requestData.PurchaseDate);
        //console.log(requestData.SupplierId);


        fetch('/Purchase/Add', {
            method: 'POST',
            body: JSON.stringify(requestData),
            headers: {
                'Content-Type': 'application/json'
                //add other headers if needed
            }
        }).then(res => {
            if (!res.ok) {
                throw new Error('Network response was not ok');
            }
            return res.json();
        }).then(x => {
            console.log('Server response:', x);
            if (x.success) {
                window.location.reload();
            }
            else {
                alert("Error recording purchase");
            }
        });
    });

</script>